<div align="center">
    <div class="category_name_holder">
    	<h1 class="category_name">DoGGaG</h1>
    </div>
</div>
<div class="conteiner">
    <div class="photos_holder">
    </div>
    <div class="photos_render" align="center">
    	<div class="photo_render" align="center">
            <img class="photo" src={{message}} align="center">
        </div>
    </div>
    <button type="submit"></button>
</div>