<div class="catalog_container">
	<div class="page-header dog_page-header" align="center">
		<div class="header_container">
	  		<h1><small class="catalog_header">Catalog</small></h1>
	  	</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">Still random dog</h3>
					</div>
					<div class="panel-body">
						<div class="img_panel">
							<a href="#" class="thumbnail">
								<img src="{{message}}">
								</img>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-md-6">
				<div class="panel panel-info dog_panel-info">
					<div class="panel-heading">
						<h3 class="panel-title dog_panel-title">Breeds</h3>
					</div>
					<div class="panel-body">
						{{#each messages}}
							<div class="col-md-6">
								<div class="panel panel-default">
								  <div class="panel-body text-center">
										<div class="col-md-4">
											<span class="label label-info"></span>
										</div>
										<div class="col-md-8">
											<h1>{{message}}</h1>
										</div>
								  </div>
									<div class="panel-footer text-right">
										<button data-movie-id="{{id}}" type="button" class="movie-info btn btn-default" aria-label="Left Align">
											<span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
											More information
										</button>
									</div>
								</div>
							</div>
						{{/each}}
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
