<div class="page-header" align="center">
  <h1>DoGGaG</small></h1>
</div>
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Check out your random dog photo</h3>
				</div>
				<div class="panel-body">
					<a href="#" class="thumbnail">
						<img src={{message}}>
					</a>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Breeds</h3>
				</div>
				<div class="panel-body">
				</div>
		</div>
</div>
