<div class="catalog_container">
	<div class="page-header dog_page-header" align="center">
		<div class="header_container">
	  		<h1><small class="catalog_header">DoGGaG</small></h1>
	  	</div>
	</div>
	<div class="container">
		<div class="row dog_row">
			<div class="col-xs-6 col-md-offset-3">
				<div class="panel panel-info dog_panel-info dog_image_panel-info">
					<div class="panel-body">
						<div class="img_panel">
							<img src="https://dog.ceo/api/img/{{breed}}/{{name}}"></img>
						</div>
					</div>
				</div>
			</div>
	    </div>
	</div>
</div>
